
<!DOCTYPE html>

<html>
<head>
    <title>Result</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>Номер платежа</th>
            <th>Дата платежа</th>
            <th>Размер платежа по телу</th>
            <th>Размер платежа по %</th>
            <th>Остаток основного долга</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in ViewBag.Tabel) 
        {
                <tr>
                    <td>@item.Noumber</td>
                    <td>@item.Date</td>
                    <td>@item.SizePayment</td>
                    <td>@item.Percent</td>
                    <td>@item.Renains</td>
                </tr>
        }
        <tr>
            <td>Переплата по кредиту:</td>
            <td>@ViewBag.Over</td>
        </tr>
    </tbody>
</table>
</body>
</html>
